.ItemList {
  width: 100%;
  height: calc(100vh - 90px);
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}

.ItemListCards {
  display: flex;
  gap: 30px;
}
